# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Alex\Stopgame-review-parser-bot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
